/*
 * entry.css
 */

.entryList {
	margin-left: 1%;
margin-right: 1%;
}

.entry {
	height:50px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-bottom: solid 1px #96E4A6;
}

.entryName {
	background-color: #07D074;
	text-align: center;
}

.entryDelete {
	display: inline-block;
height: 100%;
float: right;
width: 15%;
background-color: #e74c3c;
}

.entryEdit {
	display: inline-block;
	height: 100%;
	float: right;
	width: 15%;
	background-color: #308EC8;
}

.green {
	background-color:#6CCB62;
}

.orange {
	background-color:#F0923D;
}

.red {
	background-color: #F41A1B;
}
