<div ng-controller="AdresseController">
    <!-- HEADER -->
    <div id="header">

        <span id="menuBarTitle">Nouveau</span>

    </div>
    <!-- FIN HEADER -->

    <form name="addadr">

        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Numéro</span>
                <input type="number" ng-model="adresse.numero">
            </label>

            <label class="item item-input item-stacked-label">
                <div class="row">
                    <div class="col">
                        <li class="item item-checkbox">
                            <label class="checkbox">
                                <input ng-model="adresse.bis" value="false" ng-change="checkbis(adresse.bis)"
                                       type="checkbox">
                            </label>
                            Bis
                        </li>

                    </div>

                    <div class="col">
                        <li class="item item-checkbox">
                            <label class="checkbox">
                                <input ng-model="adresse.ter" value="false" ng-change="checkter(adresse.ter)"
                                       type="checkbox">
                            </label>
                            Ter
                        </li>

                    </div>

                </div>
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Complément d'adresse</span>
                <input type="text" ng-model="adresse.complement">
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label" style="margin-right: 40px; vertical-align:top">Logement collectif</span>
                <label class="toggle">
                    <input type="checkbox" ng-model="adresse.collectif">

                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </label>


            <label ng-show="adresse.collectif" class="item item-input item-stacked-label">
                <span class="input-label">Bâtiment</span>
                <input type="text" ng-model="adresse.batiment">
            </label>

            <label class="item item-input item-stacked-label" ng-show="adresse.collectif">
                <span class="input-label">Digicode</span>
                <input type="text" ng-model="adresse.digicode">
            </label>


            <label ng-show="adresse.collectif" class="item item-input item-stacked-label">
                <span class="input-label">Étage</span>
                <input type="number" ng-model="adresse.etage">
            </label>

            <label ng-show="adresse.collectif" class="item item-input item-stacked-label">
                <span class="input-label">Appartement</span>
                <input type="text" ng-model="adresse.appartement">
            </label>

            <label class="item item-input item-stacked-label">

                <div class="input-label">
                    Statut logement
                </div>

                <select ng-model="adresse.statut" class="houseInput" id="houseStatus" name="houseStatus" style="height:30px;">
                    <option value="18">Absent/Energie inconnue</option>
                    <option disabled>────────────────</option>
                    <option value="19">Logement non-électrique</option>
                    <option disabled>────────────────</option>
                    <option value="0">Absent Elec</option>
                    <option value="1">Rendez-vous pris</option>
                    <option value="2">À recontacter</option>
                    <option value="3">Ko Adhérent</option>
                    <option value="4">Déjà installé</option>
                    <option value="5">Refus argumenté</option>
                    <option value="6">Refus de dialogue</option>
                    <option value="7">Refus locataire</option>
                    <option value="8">Bailleur non autorisé</option>
                    <option value="9">GPRS NOK</option>
                    <option value="10">Vétusté</option>
                    <option value="11">Puissance trop faible</option>
                    <option value="12">Convecteur inéligible</option>
                    <option value="13">Chauffage électrique collectif</option>
                    <option value="14">PAC</option>
                    <option value="15">Manque de place dans Tableau</option>
                    <option value="16">Tableau en hauteur</option>
                    <option value="17">Zone encombrée</option>

                </select>
            </label>

            <label class="item item-input item-stacked-label">
                <textarea placeholder="Commentaire" ng-model="adresse.commentaire"></textarea>
            </label>


            <div class="row responsive-sm">


                <div class="col">
                    <button class="button button-block button-assertive" style="margin-bottom:0px" type="button" style="font-size:14px;"
                            ng-click="annuler()">
                        Annuler
                    </button>
                </div>


                <div class="col">
                    <button class="button button-block button-energized" style="margin-bottom:0px" type="button" style="font-size:14px;"
                            ng-click="saveandstay(adresse)">
                        Enregistrer et rester
                    </button>
                </div>

                <div class="col">
                    <button class="button button-block button-positive" style="margin-bottom:0px" type="button" style="font-size:14px;"
                            ng-click="saveandgoback(adresse)">
                        Enregistrer
                    </button>
                </div>
            </div>


        </div>


    </form>


</div>
