<div ng-controller="rueCtrl">
	<!-- HEADER -->
	<div id="header">
        <a href="#villes" class="button icon-left ion-chevron-left button-clear" style="left: 0; margin-top: 15px; position: absolute; margin-left: 10px;"></a>
         <a href="#export" class="ion-archive button-clear" style="right: 0; position: absolute; margin-right: 20px; color: white; font-size: 32px; margin-top: 15px;"></a>
		<span id="menuBarTitle">RUES</span>
      
         
        <div class="col ">
           <label class="toggle">
                 
               <input type="checkbox" ng-model="modeEdit">
               <div class="track">
                 <div class="handle"></div>
               </div>
            </label>
         


   </div>
	</div>
	<!-- FIN HEADER -->
	<div id="searchBar">
		<form ng-submit="addrue(newTodo)">
<div class="list list-inset"> 
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Rue" ng-model="newTodo.nom" ng-value="newTodo.nom">
    <button ng-show="newTodo.nom" class="button button-small" type="submit">Créer !</button>
    <!-- <button ng-hide="newTodo.Commune" class="button button-small" type="submit">Rechercher !</button> -->
  </label>
</div>
</form>
	</div>

	<ul class="entryList" id="cityList" >
		<li class="entry entryName" ng-repeat="rue in rues | filter:newTodo.Commune" item="rue">
			<span href="" ng-click='selectrue(rue.id)'> {{ rue.nom }}</span>
		   


        <div class="entryDelete" ng-click="removerue(rue.id)" ng-show="modeEdit"><i class="icon ion-close-round"></i></div>
        <div class="entryEdit" ng-click="editrue(rue.id)" ng-show="modeEdit"><i class="icon ion-compose"></i></div>


        </li>
		
	</ul>
</div>
